* {
    box-sizing: border-box;
}

.page-title {
    margin: 20px 30px 20px 60px;
    padding: 20px;
    background-color: rgb(20, 170, 108);
    color: rgb(9, 24, 18);
    text-align: center;
    font-size: 32px;
}

.odin-picture, .recipe-photo {
    width: 1000px;
    height: auto;
}

.recipe-container .homepage-links {
    width: auto;
    align-items: center;
}

.recipe-container .steps{
    text-align: center;
}

.recipe-container{
    text-align: center;
}

.recipe-list {
    font-size: 26px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: rgb(20, 170, 108);
    color: rgb(9, 24, 18);
}

p {
    display: block;
    margin: 5px;
    padding: 5px;
    background-color: rgb(20, 170, 108);
    color: rgb(9, 24, 18);
}

.recipe-page-header {
    font-size: 50px;
    font-weight: bold;
    color: rgb(50, 138, 179)
}

.return-homepage-link, .recipe-page-header, .recipe-header {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    background-color: rgb(20, 170, 108);
    color: rgb(9, 24, 18);
}